.card {
  padding: 10px;
  max-width: 100%;
  display: flex;
  gap: 10px;
  margin: 5px;
  justify-content: space-between;
  border: 2px solid;
}

/* .card:hover {
  background-color: rgba(255, 255, 255, .1)
} */

.icon {
  filter: invert(17%) sepia(91%) saturate(4887%) hue-rotate(340deg) brightness(88%) contrast(96%);
}

.icon:hover {
  filter: invert(99%) sepia(9%) saturate(114%) hue-rotate(245deg) brightness(113%) contrast(92%);
}

.fade {
  animation: fade-out-keyframes 0.5s;
  animation-fill-mode: forwards;
}

@keyframes fade-out-keyframes {
  from {opacity: 1}
  to {opacity: 0}
}

.none {
  display: none;
}