.card {
  padding: 10px;
  max-width: 100%;
  display: flex;
  gap: 10px;
  margin: 5px;
  justify-content: space-between;
  border: 2px solid;
}

.card:hover {
  background-color: rgba(255, 255, 255, .1)
}