.type {
  background-color: var(--color);
  display: inline-block;
  min-width: 40px;
  text-align: center;
  padding: 4px;
  border-radius: 5%;
  margin-left: 5px;
  color: aliceblue;
}

.water-type {
  --color: rgb(124, 166, 243);
}

.fire-type {
  --color: rgb(243, 153, 89);
}

.psychic-type {
  --color: rgb(249, 121, 160);
}

.ground-type {
  --color: rgb(230, 205, 134);
}

.figthing-type {
  --color: rgb(205, 77, 96);
}

.ghost-type {
  --color: rgb(141, 121, 173);
}

.poison-type {
  --color: rgb(179, 102, 179);
}