:root {
  --black: rgba(0, 0, 0, 0.87);
  --white: rgba(255, 255, 255, 0.87);
  --gray: rgb(213, 213, 213);
  --purple: rgb(100, 108, 255);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--gray);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  color: var(--white);
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover {
  border-color: #646cff;
}
btn:focus,
btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
