form {
  min-height: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

span {
  color: crimson;
}

.buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.buttons .btn {
  width: 40%;
}