.App {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 4fr 3fr 4fr;
  grid-template-rows: 1fr;
  column-gap: 30px;
}

h2 {
  padding-bottom: 5px;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid;
}