.main-container {
  margin: 20px;
}

.main-container hr {
  border: 1px solid var(--black);
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.posts-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}